.experEdu-container{
    grid-area: experEdu ;
}
.exper-container{
    display: grid;
    grid-template-areas:
      'exp edu ';
    
justify-content: center;
}



@media only screen and (max-width: 600px) {
    .exper-container{
        display: grid;
        grid-template-areas:
          'exp'
          ' edu ';
        
    justify-content: center;
    }
    

  
  }