.profile-projects{
    grid-area: projects;
}

.carousel{
  width: 100%;
}

.carousel_item{
   padding: 15px;
   word-wrap: break-word;
   height: 480px;
}
.project-desc{
margin: auto;
width: 50%;
padding: 10px;
}



@media only screen and (max-width: 600px) {
    .project-desc{
        margin: auto;
        width: 80%;
        padding: 10px;
        }
    .carousel_item{
        padding: 15px;
        word-wrap: break-word;
        height: 650px;
     }
  
  }