.profile-projects{
    grid-area: projects;
}

.project-container{
    display: grid;
    grid-template-areas:
    'title tile'
      'project1 project2 ';
      /* 'project2 project2'; */
justify-content: center;
}
.project-title{
    grid-area: title;

}
.project-title-word{
    text-align: center;
    line-height:100px; 
    vertical-align:middle
}
.project1{
    grid-area: project1;
    margin-left: 45px;
    

}
.project2{
    grid-area: project2;
  
}



@media only screen and (max-width: 600px) {
    .project-row { 
      width: 100%;
     
    }
    .projects{
        
        position: relative;
      
    }

  
    .project-left{
        height: 300px;
        width:300px;
        float: none;
    }
  }