
.me{
    width: 200px;
    height: 200px;
border-radius: 50%;
}
.intro{
    width: 55%;
    margin: auto;
}
.profile-about {
  grid-area: about;
  text-align: center;
}

@media only screen and (max-width: 600px) {
    .intro {
      width: 100%;
    }
  }